.footer_sec{
    height: 5.4rem;
    width: 100vw;
    background-color: rgb(223, 223, 255);
    margin-top: 4rem;
    display: flex;
    
    div{
        width: 50%;
    }
    .cright{
        display: flex;
        p{
            font-size: 1rem;
            margin-top: 2.5rem;
            margin-left: 1rem;
        }
    }
    .follow_foot{
        display: flex;
        flex-direction: column;
        h3{
            margin: 0rem 1rem;
            margin-top: 1rem;
        }
        div{
            margin: 1.1rem;
            a{
                margin:2rem 0.2rem;
            }
        }
    }
}