.footer_sec{
    height: 5.4rem;
    width: 100vw;
    background-color: rgb(223, 223, 255);
    margin-top: 4rem;
    display: flex;
    
    div{
        
    }
    .cright{
        display: flex;
        width: 60%;
        p{
            font-size: 1rem;
            margin-top: 2.5rem;
            margin-left: 1rem;
        }
    }
    .follow_foot{
        width: 40%;
        display: flex;
        flex-direction: column;
        h3{
            margin: 0rem 1rem;
            margin-top: 1rem;
        }
        div{
            margin: 1.1rem;
            a{
                margin:2rem 0.4em;
                
            }
        }
    }
}

@media (max-width:450px){
    .footer_sec{
        div{
            
        }
        .cright{
            display: flex;
            width: 60%;
            p{
                font-size: 0.8rem;
                margin-top: 2.5rem;
                margin-left: 1rem;
            }
        }
        .follow_foot{
            width: 40%;
            display: flex;
            flex-direction: column;
            h3{
                margin: 0rem 1rem;
                margin-top: 1rem;
                font-size: 1rem;
            }
            div{
                margin: 0.8rem;
                a{
                    font-size: 0.8rem;
                    margin:2rem 0.4em;
                    color: black;
                }
            }
        }
    }
}