*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_bar{
    width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
   >ul{
       display: flex;
       padding: 0 2rem;
       height: 3.2rem;
       padding: 1rem 0;
      .navlink{
            list-style-type: none;
            text-decoration: none;
            margin: 0 1rem;
            font-weight: 550;
            font-size: 1.3rem;
            color: black;
            cursor: pointer;
            position: relative;
        &::after{
          content: '';
          width: 0;
          height: 2px;
          bottom: -3px;
          left: 0px;
          background-color: crimson;
          position: absolute;
          transition: all ease 0.5s;
        }
        &:hover::after{
          width: 100%;
        }
      }
      .active{
        color:rgb(140, 211, 33)
      }

   }
   >p{
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    display: none;
  
  }
}
@media (max-width:600px) {
     .nav_bar{
      align-items: center;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;

      >div{
          height: 2rem;
          width: 6rem;
          display: flex;
          justify-content: center;
          font-weight: 600;
          color: red;
          margin: 1rem;
      }
      >ul{
        flex-direction: column;
        width: 60%;
        height: 19rem;
        display: none;
        align-items: center;
        .navlink{
          margin: 1rem;

        }
      }
      >p{
        font-size: 1.5rem;
        right: 1rem;
        top: 1rem;
        display: unset;
      }
     }
    
}
