*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
}
.home_sec{
    width: 100%;
    height: 100vh;
    // overflow: hidden;
    >.slider_div{
        width: inherit;
        margin: 0.2rem 0;
        height: 100%;
        box-shadow: 1px 2px 5px rgba(0,0,0,0.3);
        display: flex;
        overflow: hidden;
       >div{
        display: flex;
        width:100%;
        // border: 2px solid red;
        height: 100%;  
        transition: all 1.5s ease;   
        animation: slide-img linear infinite 15s;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
       }
       
       @keyframes slide-img {
        0%{
            transform: translateX(0%);
       
        }
        16%{
            transform: translateX(0%);
      
           
        }
        33%{
            transform: translateX(-100%);
      
           
        }
        49%{
            transform: translateX(-100%);
      
        }
        66%{
            transform: translateX(-200%);
      
        }
        82%{
            transform: translateX(-200%);
        }
        100%{
           
            transform: translateX(-300%);
        }
    }
        
    }
    
    // -------------------(detail-div)----------------
           .detail_div{
            width: 99vw;
            // height: 30rem;

            margin: 2rem 0;
             display: flex;
             padding: 2rem  4rem;
            
             .home_img{
                // border: 2px solid;
                width: 50vw;
                display: flex;
                div{
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        animation: floatAnim 8s linear infinite;
                    }
                }
             }
             @keyframes floatAnim {
                0%{
                    transform: translateY(0%);
               
                }
                25%{
                    transform: translateY(-10%);
              
                   
                }
                50%{
                    transform: translateY(0%);
              
                   
                }
                75%{
                    transform: translateY(-10%);
              
                }
                100%{
                    transform: translateY(0%);
              
                }
            
            }
             .home_about{
                width: 50vw;
            
                div{
                    overflow: hidden;
                    height: 20rem;
                    margin-top: 5rem;
                    padding:2.2rem 1rem;
                    background-color: rgb(223, 223, 255);
                    border-radius: 2rem 0 2rem 0;
                    h1{
                        margin:0.2rem 1rem;
                        font-size: 2.5rem;
                        
                    }
                    h3{
                        margin: 0rem 1rem;
                    }
                    p{
                        margin: 1rem;
                    }
                }
             }

            
           }
           @media (max-width:630px){
            .detail_div{
                width: 99vw;
                flex-direction: column;
                align-items: center;
                .home_img{
                    // border: 2px solid;
                    width: 80vw;
                    height: 15rem;
                    display: flex;
                    div{
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                 }
                .home_about{
                    width: 80vw;
                    margin-top: 0;
                
                    div{
                        height: 15rem;
                        margin-top: 3rem;
                        padding:1rem 1rem;
                        background-color: rgb(223, 223, 255);
                        border-radius: 2rem 0 2rem 0;
                        h1{
                            font-size: 1.2rem;
                        }
                        h3{
                            font-size: 0.8rem;
                        }
                        p{
                            font-size: 0.7rem;
                        }
                    }
                 }
    
                
                }
           }

    //-----------------------(end)-------------------

    //-------------------------(book_us_now)------------------

    >.book_us_div{
        width: 100%;
        // border: 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
        >div{
            width:85%;
            padding: 0.7rem 0;
            background-color: rgb(223, 223, 255);
            border-radius: 2rem 0 2rem 0;
            >h1{
                margin: 1.5rem;

            }
            >h3{
                margin: 1.5rem;
            }
            >button{
                width: 6rem;
                height: 2rem;
                border-radius: 4px;
                border: none;
                margin:0.5rem 1.5rem;
                background-color:rgb(69, 68, 68);
                cursor: pointer;
               > &:hover{
                    
                }
                >.book-btn{
               
                    color: #fff;
                    
                    &:hover{
                        // background-color:rgb(26, 24, 24);

                    }
                }

            }
        }
    }
    .work{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        
        h1{
            text-align: center;
        }
        >div{
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0.6rem;
            >div{
               
                img{
                    width: 15.4rem;
                    height: 13rem;
                    margin: 0.8rem;

                }
            }
        }
    }
    .home_service{
        width: 100%;
   
        display: flex;
        margin: 1rem 0;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        >h1{
            text-align: center;
            margin: 1rem 0;
        }
        >div{
            width: 88%;
            // height: 20rem
         
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            >div{
                width: 18rem;
                background-color: rgb(223, 223, 255);
                border-radius: 1rem;
                margin: 1rem;
                >h1{
                    margin: 1rem;
                }
                >h3{
                    margin: 1rem;
                }
                >button{
                    margin: 1rem;
                    width: 6rem;
                    height: 2rem;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;


                }
            }
        }
    }
    .printItem{
        width: 100%;
        // border: 2px solid;
        >button{
            position: absolute;
            right: 9rem;
            width: 6rem;
            background-color:rgb(69, 68, 68);
            color: #fff;
            height: 2rem;
            border-radius: 0.4rem;
            border: none;
            cursor: pointer;
            margin: 1rem 0;

        }
        >h1{
            text-align: center;
            margin: 2rem;

        }
        >div{
          
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: 45rem;
            overflow: hidden;
            margin: 0 2.5rem;
            >div{
                margin: 1rem;
                width: 14rem;
                padding: 0.4rem;
                display: flex;
                border-radius: 1rem;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                background-color: rgb(223, 223, 255);

                >h1{
                    text-align: center;
                    margin: 0.5rem;
                }
                >h3{
                    margin: 1rem 0;
                }
                >img{
                    width: 100%;
                    height: 10rem;
                    border-radius: 0.2rem;
                }
                >button{
                    width: 5rem;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    height: 1.8rem;
                     background-color:rgb(69, 68, 68);
                     font-weight: 600;
                     letter-spacing: 2px;
                     color: #fff;


                }

            }
        }

    }
}

//   //--------------------(about)---------

//     .book_us_div{
//         width:100%;
//         // height: 12rem;
//         // border: 2px solid;
//         display: flex;
//         justify-content: center;
//         align-items: center;

//         >div{
//             width: 20rem;
//             height: 13rem;
//             border: 2px solid;
//             background-color: rgb(223, 223, 255);
//             border-radius: 2rem 0 2rem 0;
//             >h1{
//                 margin: 1.2rem;

//             }
//             >h3{
//                 margin: 1.2rem;
//             }
//             >button{
//                 width: 6rem;
//                 height: 2rem;
//                 border-radius: 4px;
//                 border: none;
//                 margin:0.5rem 1.2rem;
//                 background-color:rgb(69, 68, 68);
//                 cursor: pointer;
//                > &:hover{
                    
//                 }
//                 >.book-btn{
               
//                     color: #fff;
                    
//                 }

//             }
//         }
//     }
// }